<div class="mobile-title-bar d-lg-none {{position}} {{bg}} " id="{{id}}">
    <div class="container">
      <div class="mobile-title-bar__content">
        {{#if back}}
        <a href="{{back}}" class="arrow {{#if font-color}} {{font-color}} {{else}} link-font-color {{/if}}"> <i class="fas fa-chevron-left"></i> </a>
        {{/if}}
        <a href="#" class="{{#if font-color}} {{font-color}} {{else}} link-font-color {{/if}} title text-capitalize">{{title}}</a>
        <div class="flex-grow-1"></div>
        <div class="profile-img">
          {{> components/profile-picture img=img }}
        </div>
      </div>
    </div>
  </div>