<div class="card product-card">
  <div class="header">
    <p class="name">{{ name }}</p>
    <p class="address">{{ address }}</p>
  </div>
  <div class="image-cont">
    <img src=" {{image}} " alt="{{name}}">
  </div>
  <div class="footer">
    <p class="slug text-secondary">{{ slug }}</p>
    <div class="price-cont">
      <div class="price">
        <p> {{qty-price}} </p>
        <p> /{{qty-name}}</p>
      </div>
      <div class="price">
        <p> {{size-prize}} N5,000</p>
        <p> /{{size-name}}</p>
      </div>
    </div>
  </div>
</div>